# Environment variables for PostgreSQL
POSTGRES_DB_HOST=postgres
POSTGRES_DB_PORT=5433 # port for PostgreSQL -> include during when creating a server
POSTGRES_USERNAME=postgres # username for PostgreSQL -> include during when creating a server
POSTGRES_PASSWORD=password # password for PostgreSQL -> include during when creating a server

# pgAdmin credentials
# use email to login to pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@pgadmin.org 

# use password to login to pgAdmin
PGADMIN_DEFAULT_PASSWORD=admin

POSTGRES_DATA_PATH=./data/postgres
PGADMIN_DATA_PATH=./data/pgadmin