# Environment variables for PostgreSQL
POSTGRES_DB_HOST=postgres
POSTGRES_DB_PORT=5433 # port for PostgreSQL -> include during when creating a server
POSTGRES_USERNAME=postgres # username for PostgreSQL -> include during when creating a server
POSTGRES_PASSWORD=password # password for PostgreSQL -> include during when creating a server

# pgAdmin credentials
# use email to login to pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@pgadmin.org 

# use password to login to pgAdmin
PGADMIN_DEFAULT_PASSWORD=admin

POSTGRES_DATA_PATH=./data/postgres
PGADMIN_DATA_PATH=./data/pgadmin

# Xendit Integration Keys
XENDIT_SECRET_KEY=your_xendit_secret_key_here
XENDIT_PUBLIC_KEY=your_xendit_public_key_here
XENDIT_CALLBACK_TOKEN=your_callback_token_here
XENDIT_REDIRECT_URL=http://localhost:3003/sales-processing

# Audit Log Service
AUDIT_SERVICE_URL=http://api-audit-logs:5000
AUDIT_SERVICE_ENABLED=false

